#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  #user-interaction {
      text-align: center;
      font-size: 15px;
  }
  
  #datePicker, #devicePicker{
      width: 150px;
  }
  
  button{
      height: 40px;
      width: 200px;
      margin: 0;
  }
  
  .dropdown {
      margin-top: 30px;
      margin-right: 20px;
  
  }
  
  .center{
      display: flex;
      align-items: center;
      justify-content: center;
  }